body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images.ctfassets.net/j95d1p8hsuun/12Tl0sQL6vNRfXPkIrfuaz/2374cc44fec67de6b53bcc080a57345d/keyart2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

canvas {
  /* background: #f8f8f8; */
  /* background-image: url("https://i.ibb.co/W2KpBFc/First-Light-Zone-Pic.png"); */
  background-size: 100% 100%;
  /* background-position: center; */
  background-repeat: no-repeat;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
}

/* https://i.ibb.co/3phbP5Y/firstlightiron.png */


#login {
  background: whitesmoke;
  border-radius: 25px;
}

.navBar {
  background-color: #333333;
}

.sideMenu {
  background-color: #333333;
  color: whitesmoke;
}

.menuIcons {
  color: whitesmoke !important;
}

.MuiDrawer-paper {
  width: 12% !important;
  background-color: #333333 !important;
}